<div class="content">
	<div class="page-header">
    	<h3>Our Mission</h3>  

    	<h4> We amplify and simplify your online ski search.</h4>
    	
    	<p> Shredset is a powerful comparison marketplace created to remedy the time, effort, and confusion of online ski shopping.  By design, our site empowers skiers at all levels to harness our unrivaled search capabilities and efficiently connect with their soulmate ski.  Instead of lengthy site jumping and perma-clicking, search results are organized to reflect the user’s search priorities.  Related resources, such as ski sizing, lift tickets, and snow reports, are in one place.  In short, we want every skier to enjoy and benefit from the online ski marketplace.</p>  

    	<h3>The Team</h3>  

    	<h4> Patrick Vihtelic</h4> 
    	<p>Pat was born and raised in Indiana but claims to be a decent skier.  He fell in love with the sport after spending a year skiing on the east coast in elementary school.  Since then, Pat has been to Whistler over 20 times, skied the Andes during a "summer" study abroad program, and lived on the west coast where he frequented Tahoe.  Pat loves solving problems with technology, but not quite as much as he enjoys shredding the gnar.  <p>

    	<h4> Brayden Cleary</h4>   
    	<p>Brayden was born a shredder.  He grew up in Baltimore and yes, he has seen The Wire.  Brayden enjoys writing in the 3rd person, yoga-ing, eating plants, and hacking.</p>

    	<h4> Josh Elkin</h4> 
    	<p>Josh is a New York City native who grew up skiing the icy hills of the northeast. At age 18 he eventually succumbed to his passion for shredding and became a professional ski bum in Steamboat, Colorado, where he finally learned what that "powder" stuff was that he kept reading about in magazines. Josh is an aspiring coder who dreams about fresh pow and  sichuan food. </p>

    	<h4> Kristin Henikoff</h4>  
    	<p>Despite growing up in a flat, Midwest state, Kristin’s love of skiing remains unshakeable.  Prior to Shredset, Kristin did odd jobs, such as tax law and raising two kids.  The children are not odd.</p>

    	<p>Shredset is based in Michigan City, Indiana.</p>



	</div>
</div>