<div class="container">
    <div class="content">
    	<div class="page-header">

        	<h3>Compare the Largest Collection of Ski Inventory in One Place.</h3>
        	
        	<p>Shredset is a marketplace that makes shopping for skis enjoyable.  We enable skiers at all levels to easily connect with their soulmate ski instead of lengthy site jumping and research.  We only work with the industry's best ski shops, giving you access to the widest selection of ski inventory on the web.  Have fun shopping and if you don't already have a pair, you can probably find them here.</p>

        	<h3>Behind the Scenes</h3>  

        	<h4> Pat Vihtelic</h4> 
        	<p>Pat loves solving problems with technology, but not quite as much as he enjoys shredding the gnar.<p>

        	<h4> Brayden Cleary</h4>   
        	<p>Brayden was born a shredder.  He grew up in Baltimore and yes, he has seen The Wire.  Brayden enjoys writing in the 3rd person, yoga-ing, eating plants, and hacking.</p>

        	<h4> Josh Elkin</h4> 
        	<p>Josh is a New York City native who grew up skiing the icy hills of the northeast. At age 18 he eventually succumbed to his passion for shredding and became a professional ski bum in Steamboat, Colorado, where he finally learned what that "powder" stuff was that he kept reading about in magazines. Josh is an aspiring coder who dreams about fresh pow and  sichuan food. </p>

        	<h4> Kristin Henikoff</h4>  
        	<p>Despite growing up in a flat, Midwest state, Kristin’s love of skiing remains unshakeable.  Prior to Shredset, Kristin did odd jobs, such as tax law and raising two kids.  The children are not odd.</p>

    	</div>
    </div>
</div>