<div class="content">
	<div class="page-header">
    <h3>Welcome to shredset's blog.  Below are some thoughts from our team. Enjoy!</h3>
    </div>	

    	<h4>Launch</h4>  
    	
    	<p>December 13, 2012</p>

    	<p>Today we launched the beta version of shredset, a comparison shopping app dedicated to downhill skis.  We provide an alternative to traditional ski eCommerce by giving you many choices in one place.  Everyone on team shredset has two things in common - we are graduates of a web development program in Chicago called <%= link_to 'The Starter League', 'http://www.starterleague.com' %> and we all love to shred.</p>

    	<p>Before the Starter League, which was only 12 weeks ago, we knew very little about web development.  After learning the basics of Ruby on Rails, html/css and user experience, we were able to build the first draft of shredset in approximately 4 weeks.  Rails is a growing and popular web devleopment framework for a programming language called Ruby, which was used to build other websites such as Github, Groupon, Shopify and Twitter.  In addition to Ruby on Rails, which is free and open source, we're using other tools such as Heroku, Twitter Bootstrap, Nokogiri and AvantLink in order to make shredset a reality.</p>

    	<p>We're launching with over 1,000 models of skis on our site, aggregated daily from our merchant partners, which include <% link_to "backcountry.com", "http://www.backcountry.com" %>, <% link_to "evo.com", "http://www.evo.com" %> and <% link_to "skis.com", "www.skis.com" %>.  Thank you to our partners - without them, shredset would not be possible.</p>

    	<p>We're excited to ship an app that helps our fellow shredders save some time and cash.  Hope you enjoy it as much we we enjoyed building it!</p>

    	<p>When in doubt, straighten em out.</p>

    	<p>-Pat and Brayden</p>

    	<h4>Serious Blogging Day 1</h4>

</div>