<!-- Test file  -->


<!-- print out -->



<ul style="list-style-type: none;">
	<% Ski.order("name").each do |ski| %>
		<% if ski.inventories.where(:store_id => 2).count > 5 %>
			<li><%= ski.name %></li>
		<% end %>
	<% end %>
</ul>