<div class="content">
	<div class="page-header">
    	<h3>FAQs</h3>  
    	<h4>What is Shredset?</h4>
		<p>Shredset is a powerful comparison marketplace that eliminates the time, effort, and confusion of online ski shopping.  Our goal is for every skier to enjoy and benefit from the online ski marketplace.</p>

		<h4>How are you different from online ski retailers?</h4>
		<p>Unlike individual online ski retailers, we help you efficiently search all of our online ski retailers using your criteria.  This eliminates unnecessary search results.</p>

		<h4>Do your quoted prices include tax?</h4>
		<p>No.  Tax will be determined based on your chosen online retailer’s location and your location.</p>

		<h4>Do your quoted prices include shipping?</h4>
		<p>Quoted prices for ski purchases include ski shipping within the continental U.S.</p>

		<h4>What if I need to return my skis?</h4>
		<p>The online retailer you use will describe its return policy on its site.</p>

		<h4>Will my search cover every online ski?</h4>
		<p>No.  We search __ online ski retailers.  We know their reputations, and we aren’t mucking up your search with unknown retailers and every Ebay-ed and Craig’sList-ed ski.</p>

		<h4>Are you owned  -- directly or indirectly -- by an online ski retailer?</h4>
		<p>No.</p>

		<h4>I’m a fan.  Are you on Facebook or Twitter?</h4>
		<p>Of course.  Like us here [input Facebook] and follow us here [input Twitter]</p>


	</div>
</div>