<div class="content">
	<div class="page-header">
    	<h3>FAQs</h3>  
    	<h4>What is Shredset?</h4>
		<p>Shredset is a comparison marketplace that eliminates the time, effort, and confusion of online ski shopping.</p>

		<h4>How are you different from online ski retailers?</h4>
		<p>Unlike online ski retailers, we help you efficiently search all of our merchant partners' inventory in one place using your own criteria.  This eliminates the hassle of going to several sites in order to make a purchase decision.</p>

		<h4>Do your quoted prices include tax?</h4>
		<p>No.  Tax will be determined based on your chosen online retailer’s location and your location.</p>

		<h4>Do your quoted prices include shipping?</h4>
		<p>Quoted prices for ski purchases include ski shipping within the continental U.S. (normally for purchases over a certain amount at our merchant partners' sites).</p>

		<h4>What if I need to return my skis?</h4>
		<p>The online retailer you select to purchase your skis will describe its return policy on its site.</p>

		<h4>Are you owned  -- directly or indirectly -- by an online ski retailer?</h4>
		<p>No.  We will continue to add more online ski retailers to our network.  Contact us if you are interested in joining.</p>

		<h4>I’m a fan.  Are you on Twitter?</h4>
		<p>Of course.  Follow us on Twitter at <%= link_to "@shredset", "http://www.twitter.com/shredset" %></p>
	</div>
</div>