
<div class="row">
    <div class="content-left-home">
        Search/Filter Fields
    </div>        

    <div class="span5">
    	<div class="content-home-page">

			product pictures

    	</div>
	</div>

</div>      
<br />

<%= link_to 'New Ski', new_ski_path %>
