
<div class="row">
    <div class="span3">
        <div class="content-search-box">


            Something


        </div>    
    </div>
</div>      

</div>
<br />

<%= link_to 'New Ski', new_ski_path %>
