<div class="container">
	<div class="content">
		<h2>Ski Size Guide:</h2>
		<ul>
			<li><%= link_to "Adult Skis Guide on Evo", "http://www.evo.com/how-to-choose-skis-size-chart-and-guide.aspx" %></li>
			<li><%= link_to "Adult Skis Guide on Backcountry", "http://www.backcountry.com/sc/alpine-ski-sizing-guide" %></li>
			<li><%= link_to "Youth Skis", "http://www.evo.com/how-to-choose-youth-skis-size-chart-and-guide.aspx" %></li>
		</ul>
		Rocker Guide:
		<ul>
			<li><%= link_to "What is Rocker?", "http://www.evo.com/rocker-guide-what-is-rocker-and-why-does-it-matter.aspx" %></li>
		</ul>
	</div>
</div>

