<div class="content">
	<div class="page-header">
    	<h3>Privacy Policy.</h3>  

    	<p>At Shredset, we want to make your online ski search better.  As part of that effort, we want you to feel comfortable when you visit or use our Service (the website on which this Privacy Policy is displayed, and the services we offer through the website).  We also understand that you may have some important questions for us about what information we collect when you use our Service, why we collect that information, and how we may use and disclose it to others.  We've created this Privacy Policy to help answer those questions.  By using our Service, you are indicating to us that you agree to our collection, use and disclosure of your information, as described in this Privacy Policy.</p>

    	<h4>What Information Is Collected?</h4>

    	<p>User-Provided Information:  When you contact us through email concerning a search, you may need to enter or happen to include information that would be considered "personally identifiable" (for example, information that would allow us to directly identify you, such as your name, e-mail address, mailing address, or telephone number).  We collect and use this information to understand our customers’ struggles and needs, and to assess our follow up efforts.</p>

    	<p>"Automatically Collected" Information: Like many websites, when you use the Service we may automatically record certain information about your visit from your web browser, such as your IP address, the pages of the service you view, or details regarding the searches you run on the Service, such as what you are searching for, the date and time when you initiated a search, and the location from which you initiated the search.  We collect and may use this information to understand and analyze the aggregate or "big picture" usage trends and preferences of our users.</p>

    	<p>"Cookies" Information: One form of "automatically collected" information we record is information stored by "cookies." When you use the Service, we may send one or more cookies to your computer. We use both "session" and "persistent" cookies to collect, store, and sometimes track various types of information.  A session cookie is one that disappears after you close your browser.  While a persistent cookie remains after you close your browser (and may be used by your browser when you later return to the Service), persistent cookies generally can be removed.  You can review the appropriate "Help" file in your Web browser or your mobile device to learn the proper way to modify your cookie settings.</p>

    	<h4>How Shredset Uses This Information:</h4>

    	<p>Shredset uses the information you provide or that we collect to “evolve”—that is, to develop, operate, maintain, enhance, and provide the Service, to develop new search tools, and to customize and target content that may be more interesting, relevant or useful to you, and for other administrative purposes.  Here are some examples of how we may use the information you provide or that we collect:If you provide it, we may use your e-mail to give you updates on the Service's features and progress, and to provide you with promotional materials and offers. Generally, you have the ability to opt-out of receiving e-mails about Service updates and promotional materials and offers through links provided in the e-mail messages we send to you. We may communicate with you via e-mail or another form of electronic notification regarding security, privacy, and administrative issues relating to your use of the Service.</p>

    	<h4>How Is the Information Shared or Disclosed?</h4>

    	<p>Shredset may disclose your personal information if required to do so by law or in the good faith belief that disclosure is necessary to: (1) satisfy legal obligations or comply with legal process (such as a subpoena) served on Shredset; (2) protect Shredset and others from fraudulent, abusive, predatory, or unlawful uses or activity; (3) investigate and defend Shredset against any legal claims or threats; (4) protect and defend the rights or property of Shredset; (5) take action on user complaints, or (6) act in urgent circumstances to protect the personal safety of users of Shredset, the Service, or the public. If there is a change in ownership of Shredset, including through a merger with, acquisition by, or sale of assets to another entity, we may sell or otherwise transfer information you provide to us, including personally identifiable information, to that entity. Shredset may disclose aggregated or other types of non-personally identifiable information, including "automatically collected" and "cookies" information that is non-personally identifiable, to third parties for various purposes.  For example, Shredset may disclose non-personally identifiable information to interested third parties to assist them in understanding the usage, viewing, and demographic patterns on the Service, or to enhance your ability to conduct efficient and accurate searches.</p>

    	<h4>Choice</h4>

    	<p>You may, of course, decline to share certain information with Shredset.  For instance, you may delete, or choose not to accept, cookies from the Service (see "Cookies" Information above for details).   If you want personal iinformation you provide us permanently anonymized, please submit a request to contact@shredset.com.  We may retain any anonymized information for a variety of purposes, including backups and archiving, prevention of fraud and abuse, and analytics.</p>

    	<h4>Links to On-line Ski Retailers</h4>

    	<p>Our Service includes links to third-parties, such as the links we provide to websites where you may purchase skis.  When you follow the links to a third-party, you should understand that our Privacy Policy no longer applies, and that the third-party's privacy practices may not be the same as ours.</p>

    	<h4>The Security of Your Information</h4>

    	<p>While we take reasonable measures to protect personal information you provide, we do not, however, guarantee the security of personal information you provide .  If Shredset learns of a security systems breach, then we may attempt to notify you electronically, either by e-mail on via our website, so that you can take appropriate protective steps.  These methods of communicating with you are only examples.  We retain the right to decide which method we will use to notify you of a security breach, and will do so consistent with our legal obligations.</p>

    	<h4>Where We Operate</h4>

    	<p>Our servers and data centers are located in the United States.</p>

		<h4>How Will You Know Whether Shredset's Privacy Policy Has Changed?</h4>

    	<p>We may occasionally update this Privacy Policy.  When we do, we will also revise the "last updated" date at the bottom of the Privacy Policy.  If we substantially revise the policy (and we will use our discretion to determine if the revision is substantial), we may post this news on the homepage.  We encourage you to review this Privacy Policy from time to time to stay informed about how we are protecting the personally identifiable information we collect.  If you continue to use our Service after we post an update to this Privacy Policy, this will indicate your acceptance of the update.</p>

    	<h4>Last updated November 30, 2012</h4>
    	

	</div>
</div>